<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      22041278 - About me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">22041278 - About me</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombre: Pablo Ribas Borrego</p>
      <p>Número de expediente: 22041278</p>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
